<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.susheel.currency_converter_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Currency-converter-app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Currency-converter-app"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".CurrencyReceiver"
            android:enabled="true"
            android:exported="true" >

            <intent-filter>
                <action android:name="com.example.renup.currency_requester_app">
                </action>
            </intent-filter>

        </receiver>
    </application>

</manifest>